{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name  }}! ✅</h1>

    <h2>{{ titre }}</h2>

   {{ dump(articles) }} {# commentaire #}

    {% for article in articles %}
        <h3>{{ article.titre }} - {{ article.lacategorie.nom }}</h3>
        <p>{{ article.contenu }}</p>
        <p>Publié le {{ article.datecreation | date('d/m/Y H:i:s') }} par {{ article.auteur }}</p>
        <a href="{{ path('edit_article', {id : article.id}) }}"> Editer l'article</a>
    {% endfor %}
</div>
{% endblock %}
